* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

hi {
  margin: 20px 0;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: fit-content;
  margin: auto;
  padding: 5px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #27be77;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}

.card.flipped {
  background-color: #2f3640;
}

.hidden {
  display: none;
}

.title {
  text-align: center;
}